### Install Libraries

In [ ]:
!pip install ipython-sql
!pip install prettytable==2.4.0

### To add SQL Extension

In [ ]:
%load_ext sql

### Connect to database

In [ ]:
%sql sqlite:///Northwind.db

### Library Import

In [ ]:
import prettytable
prettytable.DEFAULT = prettytable.PLAIN_COLUMNS

## 1. Table Exploration

In [ ]:
%sql sqlite:///Northwind.db

# get table name
tables = %sql SELECT name FROM sqlite_master WHERE type='table';

# Loop for every table
for t in tables:
    table_name = t[0]  # t is tuple, ex: ('Orders',)
    print(f"===== Table: {table_name} =====")
    # show top 10 for row
    results = %sql SELECT * FROM $table_name LIMIT 10;

## 2. Analysis

 #### Before

In [ ]:
%%sql
SELECT * FROM employees 
WHERE department_id IN (SELECT id FROM departments WHERE location = 'NY');

 #### After

In [ ]:
%%sql
SELECT * FROM employees e 
WHERE EXISTS (
  SELECT 1 FROM departments d 
  WHERE d.id = e.department_id AND d.location = 'NY'
);